/* Footer */
.footer {
    background-color: #d9d9d9;
    text-align: center;
    padding: 1rem;
    font-size: 1rem;
    margin: 0; /* Elimina márgenes que puedan causar problemas */
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
  }
  
  
  /* Ajustes de texto */
  .footer h3 {
    margin: 0;
    font-weight: bold;
    color: #000;
  }
  
  /* Estructura general para soporte de Sticky Footer */
  html, body {
    height: 100%;
    margin: 0;
  }
  
  #root {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ocupa toda la ventana */
  }
  
  .main-content {
    flex: 1; /* Asegura que el contenido ocupe el espacio restante */
  }
  

  @media (max-width: 480px) {
    .footer {
    width: 92vw; /* Asegura que ocupe todo el ancho */
    }
  }